<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kTCCServiceMediaLibrary</key>
	<string>This app needs to access your music library to load and play audio files that you select.</string>
	<key></key>
	<string></string>
</dict>
</plist>
